flows.json
[{"id":"10d8e9f2.c902d6","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"1d156ed5.5e6cf1","type":"ui_form","z":"10d8e9f2.c902d6","name":"","label":"","group":"dbae97ee.a4764","order":3,"width":0,"height":0,"options":[{"label":"Date and Time ","value":"dt","type":"text","required":true,"rows":null},{"label":"Relative Humidity (%)","value":"hum","type":"number","required":true,"rows":null},{"label":"Slope","value":"sl","type":"number","required":true,"rows":null},{"label":"Forest Density","value":"fd","type":"text","required":true,"rows":null},{"label":"Snow Density","value":"sd","type":"number","required":true,"rows":null},{"label":"Air Temperature","value":"at","type":"number","required":true,"rows":null},{"label":"Wind","value":"w","type":"number","required":true,"rows":null}],"formValue":{"dt":"","hum":"","sl":"","fd":"","sd":"","at":"","w":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":70,"y":400,"wires":[["b535c22a.cfcab8"]]},{"id":"b535c22a.cfcab8","type":"function","z":"10d8e9f2.c902d6","name":"PreToken","func":"global.set(\"dt\",msg.payload.dt)\nglobal.set(\"hum\",msg.payload.hum)\nglobal.set(\"sl\",msg.payload.sl)\nglobal.set(\"fd\",msg.payload.fd)\nglobal.set(\"sd\",msg.payload.sd)\nglobal.set(\"at\",msg.payload.at)\nglobal.set(\"w\",msg.payload.w)\nvar apikey=\"J5wN43o1eUufqzaObLLUwzHClft2x_u20Ksygm0Stseg\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":279,"y":357.0000047683716,"wires":[["bba8f74a.05ace"]]},{"id":"bba8f74a.05ace","type":"http request","z":"10d8e9f2.c902d6","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":478,"y":346,"wires":[["8303fbe7.3cc37"]]},{"id":"ec1d1d84.258c7","type":"inject","z":"10d8e9f2.c902d6","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":124.5,"y":271.00000286102295,"wires":[["b535c22a.cfcab8"]]},{"id":"8303fbe7.3cc37","type":"function","z":"10d8e9f2.c902d6","name":"Pre Prediction","func":"var dt = global.get('dt')\nvar hum = global.get('hum')\nvar sl = global.get('sl')\nvar fd = global.get('fd')\nvar sd = global.get('sd')\nvar at = global.get('at')\nvar w = global.get('w')\n\nvar token=msg.payload.access_token\nvar instance_id=\"1c113c5e-a581-4124-8891-31113e79cd2e\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload={\"input_data\": [{\"fields\": [\"Date and Time\", \"Relative Humidity(%)\", \"Slope\", \"Forest Density\", \"Snow Density\", \"Air Temperature\", \"Wind\"],\"values\": [[dt, hum, sl, fd, sd, at, w]]}]}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":675.0000076293945,"y":309.00000381469727,"wires":[["d68c56ee.d0066"]]},{"id":"d68c56ee.d0066","type":"http request","z":"10d8e9f2.c902d6","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://us-south.ml.cloud.ibm.com/v4/deployments/b2e72723-9ecb-46b7-83d1-51ef37662adf/predictions","tls":"","persist":false,"proxy":"","authType":"","x":768.5000076293945,"y":253.00000381469727,"wires":[["cd954cd.fcda53","3d493d4.1cd1cc2"]]},{"id":"1d5c2534.5ddac3","type":"ui_text","z":"10d8e9f2.c902d6","group":"dbae97ee.a4764","order":4,"width":0,"height":0,"name":"","label":"Danger is","format":"{{msg.payload}}","layout":"row-center","x":806.6000366210938,"y":405.20001220703125,"wires":[]},{"id":"cd954cd.fcda53","type":"function","z":"10d8e9f2.c902d6","name":"","func":"msg.payload=msg.payload.predictions[0].values[0][0]\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":550,"y":100,"wires":[["1d5c2534.5ddac3","75868d88.41a40c"]]},{"id":"75868d88.41a40c","type":"debug","z":"10d8e9f2.c902d6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":890,"y":80,"wires":[]},{"id":"3d493d4.1cd1cc2","type":"debug","z":"10d8e9f2.c902d6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":950,"y":280,"wires":[]},{"id":"dbae97ee.a4764","type":"ui_group","z":"","name":"Avalanche Forecasting Prediction","tab":"223dd4b.057a8ac","order":1,"disp":true,"width":"6","collapse":false},{"id":"223dd4b.057a8ac","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]